In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_df = pd.read_csv('animes.csv')

In [3]:
movies_df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [4]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
 10  img_url     19131 non-null  object
 11  link        19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

In [5]:
movies_df.describe()

,uid,episodes,members,popularity,ranked,score
count,19311.000000,18605.000000,1.931100e+04,19311.000000,16099.000000,18732.000000
mean,19358.904096,11.460414,3.472609e+04,7720.830304,6866.524194,6.436107
std,14271.446515,47.950386,1.121772e+05,4676.786104,4390.018768,1.007941
min,1.000000,1.000000,2.500000e+01,1.000000,1.000000,1.250000
25%,4833.500000,1.000000,3.880000e+02,3725.000000,2895.500000,5.770000
50%,18327.000000,2.000000,2.389000e+03,7539.000000,6963.000000,6.410000
75%,33896.500000,12.000000,1.450150e+04,11613.000000,10601.500000,7.150000
max,40960.000000,3057.000000,1.871043e+06,16338.000000,14675.000000,9.230000

In [6]:
movies_df = movies_df[['uid','title','synopsis','genre','episodes','score']]
movies_df = movies_df[movies_df['score']>=6.410000]

In [7]:
movies_df.head()

,uid,title,synopsis,genre,episodes,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...",25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",22.0,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...",13.0,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...",64.0,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']",1.0,8.83

In [8]:
movies_df['genre'] = movies_df['genre'].apply(lambda x: x.replace("'","")).apply(lambda x: x.replace("[","")).apply(lambda x: x.replace("]",""))
movies_df.head()

,uid,title,synopsis,genre,episodes,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"Comedy, Sports, Drama, School, Shounen",25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"Drama, Music, Romance, School, Shounen",22.0,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"Sci-Fi, Adventure, Mystery, Drama, Fantasy",13.0,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","Action, Military, Adventure, Comedy, Drama, Ma...",64.0,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"Action, Mystery, Supernatural, Vampire",1.0,8.83

In [9]:
movies_df = movies_df.drop_duplicates()
movies_df.to_csv('cleaned_data.csv',index=False)

In [10]:
movies_df[['synopsis','genre','episodes','score']] = movies_df[['synopsis','genre','episodes','score']].astype(str)
movies_df['tags'] = movies_df[['synopsis','genre','episodes','score']].apply(lambda row: " ".join(row), axis=1)

In [11]:
movies_df = movies_df.drop(columns = ['synopsis','genre','episodes','score'])
movies_df.head()

,uid,title,tags
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth..."
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...

In [12]:
movies_df.to_csv('data_tags.csv',index=False)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies_df['tags'])
cosine_sim = cosine_similarity(tfidf_matrix)

In [15]:
def recommend_movies(movie_title):
    index = movies_df[movies_df['title'] == movie_title].index[0]
    dist = list(enumerate(cosine_sim[index]))
    dist.sort(reverse = True,key = lambda x: x[1])
    for i in dist[1:6]:
        print(movies_df.iloc[i[0]]['title'])

In [16]:
anime_name = input("Enter anime name: ")
print(f"\nRecommended anime after watching {anime_name}: ")
recommend_movies(anime_name)

Enter anime name: Naruto

Recommended anime after watching Naruto:
Naruto: Shippuuden
Naruto: Shippuuden Movie 6 - Road to Ninja
Boruto: Naruto the Movie
Naruto: Shippuuden - Shippuu! "Konoha Gakuen" Den
Naruto: Dai Katsugeki!! Yuki Hime Shinobu Houjou Dattebayo! - Konoha no Sato no Dai Undouaki

In [17]:
np.save('cosine_sim.npy', cosine_sim)